* {
  font-family: sans-serif;
}

header {
  display: flex;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #dee0e2;
  padding: 8px 20px;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  float: left;
  margin-right: 25px;
  list-style: none;
  padding: 0;
  align-items: center;
}

.fa-bars {
  display: flex;
  content: "\f0c9";
  margin: 20px;
  color: gray;
}

.fa-bars:hover {
  display: flex;
  cursor: pointer;
  content: "\f0c9";
  margin: 20px;
  color: gray;
}

.header-link {
  display: flex;
}

.searchbar-placeholder {
  display: flex;
  list-style: none;
  padding: 0;
}

.search-input-text {
  padding-left: 10px;
  font-size: 14px;
  height: 25px;
  width: 580px;
  display: flex;
}

.fa-search {
  content: "\f002";
  font-size: 18px;
  color: #a7a8aa;
  background-color: #f2f2f2;
  border: 1px solid #c2c4c6;
  padding: 5.5px 30px;
  display: flex;
}

.fa-search:hover {
  cursor: pointer;
  content: "\f002";
  font-size: 18px;
  color: #616366;
  background-color: #e5e6e8;
  border: 1px solid #c2c4c6;
  padding: 5.5px 30px;
  display: flex;
}

.right-nav {
  display: flex;
  float: right;
  margin-left: 25px;
  padding: 10px 0 10px 0;
}

.right-nav-button {
  cursor: pointer;
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 25px;
  width: 67px;
  background-color: #4076F6;
  font-size: 11px;
  margin-right: 10px;
  padding: 0;
}
.right-nav-button:hover {
  cursor: pointer;
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 25px;
  width: 67px;
  background-color: #2F54D2;
  font-size: 11px;
  margin-right: 10px;
  padding: 0;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form-box {
  background-color: #f2f2f2;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px;
  padding: 50px;
}

.login-input {
  text-align: center;
}

.login-button {
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 45px;
  width: 270px;
  background-color: #498bf4;
}

.login-button:hover {
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 45px;
  width: 270px;
  background-color: #3474db;
}

h2, h3 {
  text-align: center;
}

input {
  padding-left: 10px;
  font-size: 16px;
  height: 45px;
  width: 270px;
}
