* {
  font-family: sans-serif;
}

header {
  display: flex;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #dee0e2;
  padding: 8px 20px;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  display: flex;
  position: relative;
  float: left;
  width: 200px;
}

.searchbar-placeholder {
  display: flex;
  border: 1px solid black;
  height: 30px;
  width: 430px;
}

.right-nav {
  display: flex;
  float: right;
  margin-left: 25px;
  padding: 10px 0 10px 0;
}

.right-nav-button {
  cursor: pointer;
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 25px;
  width: 67px;
  background-color: #4076F6;
  font-size: 11px;
  margin-right: 10px;
  padding: 0;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form-box {
  background-color: #f2f2f2;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px;
  padding: 50px;
}

.login-input {
  text-align: center;
}

.login-button {
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 45px;
  width: 270px;
  background-color: #498bf4;
}

.login-button:hover {
  border: 1px solid #054dc1;
  border-radius: 3px;
  color: #fff;
  height: 45px;
  width: 270px;
  background-color: #3474db;
}

h2, h3 {
  text-align: center;
}

input {
  padding-left: 10px;
  font-size: 16px;
  height: 45px;
  width: 270px;
}
