* {
  font-family: sans-serif;
}

header {
  display: flex;
  /*border: 1px solid black;*/
}

.header-link {
  display: flex;
  justify-content: flex-start;
}

.login-signup {
  display: flex;
  float: right;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form-box {
  outline: 1px solid black;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}

.login-input {
}

h2, h3, .login-input {
  text-align: center;
}
