@import 'palette';

textarea {
    resize: none;
}

.comments-container {
  background-color: #f9f9f9;
  padding: 3% 2%;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  .comments-title {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 2%;
  }
  .comment-creator {
    padding-bottom: 2%;
    height: 100px;
    .comment-form {
      display: flex;
      padding-bottom: 10px;
      .user-avatar {
        height: 50px;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        margin-right: 5px;
      }
      .comment-form-text {
        padding-left: 5px;
        width: 100%;
      }
    }
    .submit-button {
      float: right;
      cursor: pointer;
      border: 1px solid #36311F;
      border-radius: 3px;
      color: #36311F;
      height: 30px;
      width: 72px;
      background-color: #d8d7d6;
      font-size: 12px;
    }
    .submit-button:hover {
      float: right;
      cursor: pointer;
      border: 1px solid #36311F;
      border-radius: 3px;
      color: #fefdff;
      height: 30px;
      width: 72px;
      background-color: #36311F;
      font-size: 12px;
    }
    .submit-button:disabled {
      border: 1px solid #36311F;
      color: #e2e2e2;
      background-color: #a3906b;
    }
    .submit-button:disabled:hover {
      border: 1px solid #36311F;
      color: #e2e2e2;
      background-color: #a3906b;
    }
  }
  .comment-items-container {
    padding-top: 2%;
    border-top: 1px solid #D3D3D3;
    .comment-item-container {
      padding-bottom: 2%;
      display: flex;
      .comment-author-avatar {
        height: 50px;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
      .comment-item-details {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        .comment-user-details {
          display: flex;
          width: 395px;
          padding-bottom: 5px;
          .comment-author-username {
            font-size: 13px;
            font-weight: 500;
            color: #1b5dc6;
            padding-right: 10px;
          }
          .comment-item-date {
            font-size: 13px;
            color: #8b8d8e;
          }
        }
        .comment-item-body {
          font-size: 13px;
        }
      }
      .comment-buttons-container {
        display: flex;
        float: right;
        align-items: center;
        .comment-buttons-padding {
          padding-left: 10px;
          .comment-buttons {
            float: right;
            cursor: pointer;
            border: 1px solid #36311F;
            border-radius: 3px;
            color: #36311F;
            height: 30px;
            width: 72px;
            background-color: #d8d7d6;
            font-size: 12px;
          }
          .comment-buttons:hover {
            float: right;
            cursor: pointer;
            border: 1px solid #36311F;
            border-radius: 3px;
            color: #fefdff;
            height: 30px;
            width: 72px;
            background-color: #36311F;
            font-size: 12px;
          }
        }
      }
    }
  }
}
