.edit-comment-item-container {
  // padding-bottom: 2%;
  .comment-form {
    display: flex;
    padding-bottom: 2%;
    .edit-comment-author-avatar {
      height: 50px;
      background-color: white;
      box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
      margin-right: 5px;
    }
    .edit-comment-text {
      padding-left: 5px;
      width: 100%;
    }
    .editor-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .edit-comment-buttons {
        display: flex;
        float: right;
        .submit-button {
          float: right;
          cursor: pointer;
          border: 1px solid #36311F;
          border-radius: 3px;
          color: #36311F;
          height: 30px;
          width: 72px;
          background-color: #d8d7d6;
          font-size: 12px;
          margin-left: 10px;
        }
        .submit-button:hover {
          float: right;
          cursor: pointer;
          border: 1px solid #36311F;
          border-radius: 3px;
          color: #fefdff;
          height: 30px;
          width: 72px;
          background-color:#36311F;
          font-size: 12px;
          margin-left: 10px;
        }
        .submit-button:disabled {
          background-color: #68a099;
          margin-left: 10px;
        }
        .cancel-button {
          float: right;
          cursor: pointer;
          border: 1px solid #36311F;
          border-radius: 3px;
          color: #36311F;
          height: 30px;
          width: 72px;
          background-color: #d8d7d6;
          font-size: 12px;
          margin-left: 10px;
        }
        .cancel-button:hover {
          float: right;
          cursor: pointer;
          border: 1px solid #36311F;
          border-radius: 3px;
          color: #fefdff;
          height: 30px;
          width: 72px;
          background-color: #36311F;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}
