.edit-comment-item-container {
  // padding-bottom: 2%;
  .comment-form {
    display: flex;
    padding-bottom: 2%;
    .edit-comment-author-avatar {
      height: 50px;
      background-color: white;
      box-shadow: 0 1px 3px 0 #dce0e0;
      margin-right: 5px;
    }
    .edit-comment-text {
      padding-left: 5px;
      width: 100%;
      font-size: 12px;
    }
    .editor-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .edit-comment-buttons {
        display: flex;
        float: right;
        .submit-button {
          float: right;
          cursor: pointer;
          border: 1px solid #55a07a;
          border-radius: 3px;
          color: #36311F;
          height: 30px;
          width: 72px;
          background-color: #55a07a;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
        .submit-button:hover {
          float: right;
          cursor: pointer;
          border: 1px solid #6ea061;
          border-radius: 3px;
          color: #f9f9f9;
          height: 30px;
          width: 72px;
          background-color: #6ea061;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
        .submit-button:disabled {
          border: 1px solid #90aa97;
          color: #fefdff;
          background-color: #90aa97;
          font-size: 12px;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
        .cancel-button {
          float: right;
          cursor: pointer;
          border: 1px solid #55a07a;
          border-radius: 3px;
          color: #36311F;
          height: 30px;
          width: 72px;
          background-color: #55a07a;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
        .cancel-button:hover {
          float: right;
          cursor: pointer;
          border: 1px solid #6ea061;
          border-radius: 3px;
          color: #f9f9f9;
          height: 30px;
          width: 72px;
          background-color: #6ea061;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
      }
    }
  }
}
