.edit-comment-item-container {
  // padding-bottom: 2%;
  .comment-form {
    display: flex;
    padding-bottom: 2%;
    .edit-comment-author-avatar {
      height: 50px;
      background-color: white;
      box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
      margin-right: 5px;
    }
    .edit-comment-text {
      padding-left: 5px;
      width: 100%;
      font-size: 12px;
    }
    .editor-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .edit-comment-buttons {
        display: flex;
        float: right;
        .submit-button {
          float: right;
          cursor: pointer;
          border: 1px solid #e89b4a;
          border-radius: 3px;
          color: #36311F;
          height: 30px;
          width: 72px;
          background-color: #e89b4a;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .submit-button:hover {
          float: right;
          cursor: pointer;
          border: 1px solid #cc7a22;
          border-radius: 3px;
          color: #f9f9f9;
          height: 30px;
          width: 72px;
          background-color: #cc7a22;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .submit-button:disabled {
          border: 1px solid #829191;
          color: #fefdff;
          background-color: #829191;
          font-size: 12px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .cancel-button {
          float: right;
          cursor: pointer;
          border: 1px solid #e89b4a;
          border-radius: 3px;
          color: #36311F;
          height: 30px;
          width: 72px;
          background-color: #e89b4a;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .cancel-button:hover {
          float: right;
          cursor: pointer;
          border: 1px solid #cc7a22;
          border-radius: 3px;
          color: #f9f9f9;
          height: 30px;
          width: 72px;
          background-color: #cc7a22;
          font-size: 12px;
          margin-left: 10px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
