.footer-nav {
  display: flex;
  position: absolute;
  right: 8px;
  bottom: 8px;
  left: 8px;
  text-align: center;
  height: 150px;
  border-top: 1px solid #dee0e2;
}

.left-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right : 20px;
}

.github-logo {
  color: #4076F6;
  font-size: 60px;
}

.linkedin-logo {
  color: #4076F6;
  font-size: 60px;
}

.github-logo:hover {
  color: #2F54D2;
  font-size: 60px;
}

.linkedin-logo:hover {
  color: #2F54D2;
  font-size: 60px;
}
