@import 'palette';

.footer-nav {
  display: flex;
  position: relative;
  right: 0px;
  bottom: 0;
  left: 0;
  height: 90px;
  justify-content: center;
  background-color: $color2;
  .left-footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 3%;
    .github-logo {
      color: #d8d7d6;
      font-size: 60px;
      margin-right: 20px;
    }

    .linkedin-logo {
      color: #d8d7d6;
      font-size: 60px;
    }

    .github-logo:hover {
      color: #444140;
      font-size: 60px;
    }

    .linkedin-logo:hover {
      color: #444140;
      font-size: 60px;
    }
  }
}
