@import 'palette';

* {
  font-family: sans-serif;
}

.app-page {
  height: 100%;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  height: 90px;
  position: relative;
  padding: 8px 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  background-color: #fefdff;
}

.left-nav {
  display: flex;
  float: left;
  margin-right: 25px;
  list-style: none;
  padding: 0;
  align-items: center;

  .fa-bars {
    display: flex;
    content: "\f0c9";
    margin: 20px;
    color: gray;
  }
  .fa-bars:hover {
    display: flex;
    cursor: pointer;
    content: "\f0c9";
    margin: 20px;
    color: black;
  }
  .header-link {
    display: flex;
    height: 60px;
    margin-left: 20px;
  }
}

.searchbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  min-width: 350px;
  max-width: 645px;
  justify-content: flex-start;
  .search-input-text {
    padding-left: 10px;
    font-size: 14px;
    height: 25px;
    width: 100%;
    display: flex;
  }

  .fa-search {
    content: "\f002";
    font-size: 18px;
    color: #a7a8aa;
    background-color: #f2f2f2;
    border: 1px solid #c2c4c6;
    padding: 5.5px 30px;
    display: flex;
  }
  .fa-search:hover {
    cursor: pointer;
    content: "\f002";
    font-size: 18px;
    color: #616366;
    background-color: #e5e6e8;
    border: 1px solid #c2c4c6;
    padding: 5.5px 30px;
    display: flex;
  }
}

.right-nav {
  display: flex;
  float: right;
  margin-left: 25px;
  padding: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  .fa-upload {
    font-size: 25px;
    color: #94d2b2;
    padding-right: 15px;
  }
  .fa-upload:hover {
    cursor: pointer;
    color: #6ec297;
  }
  .current-user-avatar {
    height: 50px;
    padding-right: 15px;
  }
  .right-nav-button {
    cursor: pointer;
    border: 1px solid #94d2b2;
    border-radius: 3px;
    color: #36311F;
    height: 30px;
    width: 72px;
    background-color: #94d2b2;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0;
  }
  .right-nav-button:hover {
    cursor: pointer;
    border: 1px solid #6ec297;
    border-radius: 3px;
    color: #f9f9f9;
    height: 30px;
    width: 72px;
    background-color: #6ec297;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0;
  }
}
