@import 'palette';

.home-page {
  min-height: 1000px;
  height: 100%;
  background-color: #d9d9db;
  justify-content: center;
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 505px;
    top: 90px;
    margin-bottom: 20px;
    flex-direction: column;
    .banner-picture {
      position: absolute;
      background-image: url(https://res.cloudinary.com/danielcloud/image/upload/v1486581987/splash_wnos60.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      // background-attachment: fixed;
      background-position: center;
      opacity: .8;
      max-width: 1920px;
      min-width: 100%;
      height: 500px;
      .banner-background {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
      }
    }
    h1 {
      z-index: 1000;
      display: flex;
      font-size: 60px;
      color: $color3;
      font-weight: bolder;
      margin-bottom: 35px;
      letter-spacing: 3px;
    }
    h2 {
      z-index: 1000;
      display: flex;
      font-size: 40px;
      color: $color3;
      margin-bottom: 35px;
      letter-spacing: 3px;
    }
    a {
      z-index: 1000;
      .banner-link {
        cursor: pointer;
        border: 1px solid #94d2b2;
        border-radius: 3px;
        color: #36311F;
        height: 50px;
        width: 150px;
        background-color: #94d2b2;
        font-size: 15px;
        font-weight: bold;
        padding: 0;
      }
      .banner-link:hover {
        color: #f9f9f9;
        background-color: #6ec297;
        border: 1px solid #6ec297;
      }
      .banner-link:focus {
        outline: none;
      }
    }
  }
}
