.video-index {
  margin: 0 auto;
  width: 900px;
  padding: 10px;
  padding-bottom: 100px;
}


// .video-index {
//   padding: 20px;
//   padding-left: 10%;
//   padding-right: 10%;
// }
// .index-container{
//   margin: 0 auto;
//   width: 900px;
//   padding: 10px;
//   padding-bottom: 40px;
// }
//
// .carousel-title {
//   padding-left: 1%;
// }
//
// .carousel-container {
//   height: 200px;
//   background-color: #fff;
//   box-shadow: 0 0 1px #aaa;
//   padding: 20px;
// }
//
// .carousel-container .carousel {
//   display: flex;
//   position: relative;
//   flex-wrap: wrap;
//   height: 100%;
//
//   .slider-slide {
//     margin: 10px 10px 10px 0;
//   }
//
//   button{
//     background-color: transparent;
//     position: absolute;
//     height: 60px;
//     border: 0;
//     font-size: 16px;
//     color: #aaa;
//     cursor: pointer;
//     font-family: serif;
//   }
//   .slider-decorator-0 button{
//     transform: translate(-15px, -43px);
//   }
//   .slider-decorator-1 button{
//     transform: translate(-7px, -43px);
//   }
//   button:hover{
//     box-shadow: 0 0 1px #c0c1c4;
//     width: 40px;
//     height: 60px;
//     background-color: #fff;
//   }
//   button:focus{
//     outline: none;
//   }
//   .slider-decorator-0 button:hover{
//     box-shadow: -1px 0 1px #aaa;
//     transform: translate(-33px, -43px);
//   }
//   .slider-decorator-1 button:hover{
//     box-shadow: 1px 0 1px #c0c1c4;
//   }
//   button.disabled{
//     display: none;
//   }
// }
//
