@import 'palette';

.video-index {
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  // padding-bottom: 100px;
}

.carousel-container {
  height: 200px;
  background-color: #fefdff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px 0 #dce0e0;
  .carousel-title {
    font-weight: bold;
    padding: 3px;
    padding-bottom: 1%;
  }
  .slider-slide {
    margin: 10px 10px 10px 0;
  }

  button{
    background-color: transparent;
    position: absolute;
    height: 60px;
    border: 0;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    font-family: serif;
  }
  .slider-decorator-0 button{
    transform: translate(-15px, -45px);
    color: #484848;
  }
  .slider-decorator-1 button{
    transform: translate(-10px, -45px);
    color: #484848;
  }
  button:hover{
    box-shadow: 0 1px 3px 0 #dce0e0;
    width: 40px;
    height: 60px;
    background-color: #fff;
  }
  button:focus{
    outline: none;
  }
  .slider-decorator-0 button:hover{
    box-shadow: 0 1px 3px 0 #dce0e0;
    transform: translate(-35px, -45px);
  }
  .slider-decorator-1 button:hover{
    box-shadow: 0 1px 3px 0 #dce0e0;
  }
  button.disabled{
    display: none;
  }
}
