/* Coolors Exported Palette - coolors.co/cfdbd5-829191-fefdff-db9d47-ff9b42 */

/* HSL */
$color1: hsla(150%, 14%, 84%, 1);
$color2: hsla(180%, 6%, 54%, 1);
$color3: hsla(270%, 100%, 100%, 1);
$color4: hsla(35%, 67%, 57%, 1);
$color5: hsla(28%, 100%, 63%, 1);

/* RGB */
$color1: rgba(207, 219, 213, 1);
$color2: rgba(130, 145, 145, 1);
$color3: rgba(254, 253, 255, 1);
$color4: rgba(219, 157, 71, 1);
$color5: rgba(255, 155, 66, 1);
