@import 'palette';

.login-form-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  .login-form-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
    background-color: $color3;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 70%;
    width: 500px;
    .login-form-logo {

      width: 155px;
    }
    .login-form-message {
      margin: 15px 0;
      color: #36311F;
      letter-spacing: 1px;
      font-size: 19px;
    }
  }
  .login-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .dropzone-upload {
      width: 100px;
      height: 100px;
      border-width: 2px;
      border-color: #666666;
      border-style: dashed;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      p {
        font-size: 13px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .login-input {
      width: 285px;
      // padding: 1%;
      text-align: center;
      margin-top: 15px;
    }
    .login-input-text {
      padding-left: 10px;
      font-size: 16px;
      height: 45px;
      width: 270px;
    }
    .login-signup-errors {
      display: flex;
      list-style: none;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
    }
    .error-detail {
      display: flex;
      padding-top: 15px;
      color: #e5302d;
    }
    .login-button {
      cursor: pointer;
      border: 1px solid #36311F;
      border-radius: 3px;
      color: #36311F;
      height: 45px;
      width: 285px;
      background-color: #d8d7d6;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: bold;
    }
    .login-button:hover {
      border: 1px solid #36311F;
      border-radius: 3px;
      color: #f9f9f9;
      height: 45px;
      width: 285px;
      background-color: #e55d02;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
