@import 'palette';

video {
  background-color: $color3;
}

.video-show-container {
  float: left;
  padding: 5% 0;
  margin: 0 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  .main-video-container {
    float: left;
    width: 640px;
    margin-right: 3%;
    .video-player {
      margin-bottom: 2%;
      box-shadow: 0 1px 3px 0 #dce0e0;
    }
    .video-title-container {
      padding: 3% 2%;
      background-color: $color3;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 #dce0e0;
      margin-bottom: 2%;
      height: 115px;
      .video-title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 2%;
      }
      .video-user-details {
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid #dedfe0;
        .video-avatar {
          height: 50px;
          background-color: white;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
      }
      .video-username {
        padding-left: 10px;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 2%;
      }
      .video-views {
        float: right;
        padding-top: 10px;
        font-size: 18px;
      }
    }
    .video-detail-container {
      padding: 3% 2%;
      background-color: $color3;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 #dce0e0;
      height: 70px;
      margin-bottom: 2%;
      .video-date {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 2%;
      }
      .video-description {
        font-size: 15px;
        padding-bottom: 2%;
        border-bottom: 1px solid #dedfe0;
      }
    }
  }
  .video-sidebar-container {
    min-width: 325px;
    float: right;
    background-color: $color3;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #dce0e0;
    height: 995px;
    .video-sidebar-title {
      font-weight: 500;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #dedfe0;
      font-size: 18px;
    }
    .sidebar-video-item {
      display: flex;
      margin-bottom: 3%;
      width: 100%;
      border-bottom: 1px solid #dedfe0;
      .sidebar-video-item-thumbnail {
        float: left;
        width: 170px;
        height: 95px;
        margin-bottom: 7px;
      }
      .sidebar-video-item-details {
        display: flex;
        width: 100%;
        float: right;
        flex-direction: column;
        padding-left: 10px;
        .sidebar-video-item-title {
          text-align: left;
          font-size: 13px;
          padding: 2px;
          color: black;
          float: left;
        }
        .sidebar-video-item-username {
          font-size: 13px;
          color: #858789;
          padding: 3px;
          float: left;
        }
        .sidebar-video-item-views {
          font-size: 13px;
          color: #858789;
          float: left;
          padding: 3px;
        }
      }
    }
  }
}
