.video-show-container {
  display: flex;
  padding: 2% 5%;
  flex-wrap: wrap;
}

.video-player {
  margin-right: 2%;
}

.video-sidebar {
  width: 30%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid black;
}

.video-comments {
  height: 500px;
  width: 50%;
  border: 1px solid black;
}
