@import 'palette';

.video-form-container {
  display: flex;
  height: 450px;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: $color3;
  box-shadow: 0 1px 3px 0 #dce0e0;
  border-radius: 5px;
  flex-direction: column;
  .video-form-container-title {
    margin-bottom: 15px;
    color: #36311F;
    letter-spacing: 1px;
    font-size: 19px;
  }
  .video-form-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    .file-upload {
      display: flex;
      height: 100%;
      padding-right: 15px;
      .dropzone-upload {
        height: 110px;
        width: 200px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 2px;
        border-color: #666666;
        border-style: dashed;
        border-radius: 5px;
        .placeholder-text {
          margin: 10px;
          text-align: center;
        }
        img .new-thumbnail{
          width: 205px;
          height: 115px;
        }
        .loading-animation {
          height: 100px;
        }
      }
    }
    .video-form {
      display: flex;
      flex-direction: column;
      height: 100%;
      .video-form-input {
        .video-form-title {
          height: 45px;
          width: 475px;
          font-size: 16px;
          padding-left: 10px;
          margin-bottom: 15px;
        }
        .video-form-description {
          width: 475px;
          height: 150px;
          font-size: 16px;
          padding: 10px 0 0 10px;
          margin-bottom: 15px;
        }
      }
      .video-form-errors {
        display: flex;
        list-style: none;
        flex-direction: column;
        font-size: 15px;
      }
      .error-detail {
        display: flex;
        padding-bottom: 15px;
        color: #e5302d;
      }
      .video-form-button-container {
        width: 285px;
        .video-form-button {
          cursor: pointer;
          border: 1px solid #94d2b2;
          border-radius: 3px;
          color: #36311F;
          height: 45px;
          width: 285px;
          background-color: #94d2b2;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: bold;
          box-shadow: 0 1px 3px 0 #dce0e0;
        }
        .video-form-button:hover {
          border: 1px solid #6ec297;
          border-radius: 3px;
          color: #f9f9f9;
          height: 45px;
          width: 285px;
          background-color: #6ec297;
          margin-bottom: 0;
          font-weight: bold;
        }
        .video-form-button:focus {
          outline: none;
        }
      }
    }
  }
}
