.video-item {
  float: left;
  text-align: left;
  padding: 3px;
  a:link {
    color: #36311F;
    text-decoration: none;
  }
  a:visited {
    color: #36311F;
    text-decoration: none;
  }
  a:hover {
    color: #36311F;
    text-decoration: underline;
  }
  a:active {
    color: #36311F;
    text-decoration: none;
  }
  .video-item-thumbnail {
    float: left;
    width: 200px;
    height: 110px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px 0 #dce0e0;
  }
  .video-item-title {
    text-align: left;
    font-size: 13px;
    padding: 2px;
    color: black;
  }
  .video-item-username {
    font-size: 11px;
    // color: #858789;
    padding: 3px;
  }
  .video-item-username:link {
    color: #858789;
    text-decoration: none;
  }
  .video-item-username:visited {
    color: #858789;
    text-decoration: none;
  }
  .video-item-username:hover {
    color: #36311F;
    text-decoration: underline;
  }
  .video-item-username:active {
    color: #36311F;
    text-decoration: none;
  }

  .video-item-views {
    font-size: 11px;
    color: #858789;
    padding: 3px;
  }
}
